.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 220px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    margin-left: 20px;
    margin-top: -32px;
    box-shadow: 0 0 5px #ddd;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: .03s;
}

.welcome .visit:hover {
    background-color: rgba(204, 119, 204, 0.702);
}

@media(max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;

    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    margin-left: auto;
    transition: .3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: rgba(204, 119, 204, 0.702);
}

.targets .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;

}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;

    transform: translateX(-50%);
}

.targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.targets .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}


.blue .icon, .blue .progress {
    background-color: rgb(0 117 255/20%);
}

.orange .icon, .orange .progress {
    background-color: rgb(245 158 11/20%);
}

.green .icon, .green .progress {
    background-color: rgb(34 197 94/20%);
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}

.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.latest-news .info {
    flex-grow: 1;
}

.latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }
}

.task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: .3;
}

.tasks .done h3, .tasks .done p {
    text-decoration: line-through
}

.tasks .delete {
    cursor: pointer;
    transition: .3s;
}

.tasks .delete:hover {
    color: var(--red-color);
}

.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 40px;
}